<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Blog for Fancybox{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="card-block">
                    <div class="float-right">
                        {% if app.user %}
                            Logged as {{ app.user }} <a class="btn btn-sm btn-danger" href="{{ path('fos_user_security_logout') }}">Logout</a>
                            {%  if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-sm btn-success" href="{{ path('admin') }}">Admin panel</a>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-sm btn-primary" href="{{ path('fos_user_security_login') }}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br>
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
