{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-uppercase"><a href="{{ path('homepage') }}">Blog for Fancybox</a></h1>
    <br>
    {% for post in posts %}
        <div class="card">
            <div class="card-block col-sm-12">
                <h2 class="card-title"><a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}</a></h2>
                <p class="card-text">{{ post.lead }}</p>
                <a class="btn btn-outline-success float-right" href="{{ path('post_show', {'id': post.id}) }}">Read more</a>
            </div>
        </div>
        <br>

    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}