{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-uppercase"><a href="{{ path('homepage') }}">Blog for Fancybox</a></h1>
    <br>
    <div class="card">
        <div class="card-block col-sm-12">
            <span class="float-right">Added: {{ post.createdAt|date('d/m/Y') }}</span>
            <h1>{{ post.title }}</h1>
            <br>
            <div>
                <p>{{ post.lead }}</p>
                <p>{{ post.content }}</p>
            </div>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-block col-sm-12">
            <h3>Comments:</h3>

            {% if app.user %}

                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

            {{ form_start(form) }}
                {{ form_widget(form) }}
            <button class="btn btn-success float-right">Add comment</button>
            {{ form_end(form) }}

            {% for comment in post.comments %}
                <div>
                    <p>{{ comment.content }}</p>
                    <span class="float-right">
                        Added: {{ post.createdAt|date('H:i, d/m/Y') }} by
                        {% if comment.user %}
                            {{ comment.user }}
                        {% endif %}
                    </span>
                </div>
            {% endfor %}

            {% else %}
                <div class="alert alert-danger" role="alert">
                    <p>Only logged in users may see and add comments... </p>
                    <a class="btn btn-secondary btn-sm" href="{{ path('fos_user_security_login') }}">Login now</a>
                </div>
            {% endif %}
        </div>
    </div>
    <br>
    <a class="btn btn-secondary btn-sm float-right" href="{{ path('homepage') }}">Back to main page</a>
    


{% endblock %}